h3.slogan{
  color: #000000;
}

@media screen and (min-width: 1681px) {
  h3.slogan{
      padding-left: 22%;
  }
}

@media screen and (max-width: 1680px) {
  h3.slogan{
    padding-left: 13%;
  }
}
@media screen and (max-width: 1440px) {
  h3.slogan{
    padding-left: 20%;
  }
}

@media screen and (max-width: 769px) {
  h3.slogan{
    padding-left: 17%;
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h3.slogan {
    font-size: 15px;
    padding-left: 15%;


  }
}
@media screen and (max-width: 414px) {
  h3.slogan  {
    font-size: 12px;
    padding-left: 33%;
    position: relative;

  }
}



.CenterHeading{
  color: #000000;

font-family: 'Playfair Display', serif;



}

@media screen and (min-width: 2561px) {
  .CenterHeading{
  
        font-size: 75px;
        width: 120%;
    }
  }

@media screen and (max-width: 2560px) {
  .CenterHeading{
  
        font-size: 75px;
        width: 100%;
    }
  }

@media screen and (max-width: 1681px) {
.CenterHeading{

      font-size: 65px;
      width: 120%;
  }
}

@media screen and (max-width: 1680px) {
.CenterHeading{

      font-size: 55px;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
.CenterHeading{
      font-size: 45px;
      width: 100%;
  }
}

@media screen and (max-width: 1025px) {
.CenterHeading{

      font-size: 40px;
      width: 110%;
  }
}

@media screen and (max-width: 769px) {
.CenterHeading{

      font-size: 32px;

  }
}



/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.CenterHeading {
    font-size: 25px;



  }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 414px) {
.CenterHeading {
    font-size: 20px;


  }
}

.architects{
  color: #000000;

}

@media screen and (min-width: 2561) {
  .architects{
    font-size: 25px;

  }
}

@media screen and (max-width: 2560px) {
  .architects{
    font-size: 25px;
    margin-left: 5%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 1680px) {
  .architects{
    font-size: 20px;
    margin-left: 6%;
    padding-top: 40%;
  }
}
@media screen and (max-width: 1440px) {
  .architects{
    font-size: 13px;
    margin-left: 40%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 769px) {
  .architects{
    margin-left: 40%;
    padding-top: 40%;
    font-size: 10px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .architects{
    font-size: 12px;
    margin-left: 35%;
    padding-top: 30%;
    

  }
}
@media screen and (max-width: 425px) {
  .architects  {
    font-size: 10px;
    margin-left: 20%;
    padding-top: 40%;
    text-shadow: 1px 1px #fff;

  }
}

span.expand{
  size:100%;
}

div.background{
    background-image: url("../img/HomePage/startvlei.png");

    background-size: 100% 100%;

    background-color: #00010F;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1681px) {
  div.background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }
}

@media screen and (max-width: 1441px) {
  div.background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 1080px) {
  div.background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  div.background {
    background-size: 151%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40%;
  }
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 600px) {
  div.background {
    background-size: 151%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 31%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 425px) {
  div.background {
    background-size: 151%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 25%;
  }
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 375px) {
  div.background {
    background-size: 151%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 25%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 320px) {
  div.background {
    background-size: 177%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 28%;
  }
}





span.spancolour{
      color: #CCCCCC;
}

a.linkColour{
    color: #CCCCCC;
}

body,  html{
    background-color: #00010F;
    height: 100%;
}

h1.WhoWe{
    text-align: center;
    margin: auto;
    background-color: #00010f;
    color: rgba(230, 230, 230, 0.664);
    font: 100%;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
    font-weight: 200;
}

.WhoWeBody{
  text-align: center;
  margin: auto;
  padding: 10px;


  background-color: #00010f;
  color: rgba(230, 230, 230, 0.664);
  font: 100%;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
  font-weight: 200;
}

.left{
  width: 50%;
  vertical-align: top;
}

.whoWeDiv{
  width: 90%;
  margin-left: 5%;
  margin-bottom:  2%;
  height: 35%;
  margin-top: 3%;
  display: inline-block;
}

.MerindaPic{
  width: 40%;
}

.IanPic{
  width: 40%;
}