

  h4.atch4{
    color: #FFFFFF;
    font-size: 100%;
    text-align: left;
    font-family: 'Amatic SC', cursive;
    font-family: 'Major Mono Display', monospace;
  }
  table.tableet{
    margin-top: 5%;
      width: 100%;
      height: 100%;
  }


  body.backc{
    background-color:  #00010f;
    height: 100%;
  }


.pictureSize{
  width: 95%;
  margin-left: 2.5%;
  padding-top: 5%;
}

.pictureSize2{
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
}

.pictureSizeBottom{
  width: 45%;
  margin-left: 27.5%;
  padding-top: 5%;
  padding-bottom: 10%;
}







.TableTableTable{
  width: 100%;
}

.leftTd{
  color: #A8A8A8;
  font-family: 'Playfair Display', serif;
  padding-left: 2%;
  width: 20%;

}

.RightTd{
  color: #FFFFFF;
  text-align: left;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  padding-right: 21%;
  width: 100%;
}


@media screen and (min-width: 2560px) {
.leftTd{
  font-size: 40px;
  }
}


@media screen and (max-width: 2559px) {
.leftTd{
   font-size: 25px;
  }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 1441px) {
.leftTd{
  font-size: 25px;
  }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.leftTd{

  font-size: 10px;
  }
}



@media screen and (min-width: 2560px) {
.RightTd{

      font-size: 50px;
  }
}


@media screen and (max-width: 2559px) {
.RightTd{

  font-size: 50px;

  }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1441px) {
.RightTd{

  font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
.RightTd{

  font-size: 27px;
  }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.RightTd{

  font-size: 15px;
  }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 390px) {
.RightTd{

  font-size: 10px;
  }
}
