div.tablesize{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-top: 3%;
    background-color: #E5E5E5;
    box-shadow: 0px 0px 5px 5px #252734;
    border-radius: 10px;
    width: 98%;
}


table{

  text-align: justify;
      text-align: center;

}

th{
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
  font-size: 50%;
}

.Teedee{

    color: #000;
        height: 100%;

}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .Teedee {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;

  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .Teedee {
    font-size: 8px;
    padding-left: 2%;
    padding-right: 2%;

  }
}
td.right{

    color: #000;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  td.right {
    width: 50%
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  td.right {

  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  th {
    font-size: 25px;

  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  th {
    font-size: 15px;

  }
}

div.belowwho{
  padding-top: 10%;
}
